<h1>Custom Implementation</h1>
<table id="example" class="display excel">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>A</th>
            <th>B</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecastData;let i = index">
            <td class="row-number">
                <span>
                    {{ i+1 }}
                </span>
            </td>
            <td style="width: 100px;">{{ forecast.bucket }}</td>
            <td style="width: 100px;">
                <input type="text" (paste)="onPaste($event, i)" [(ngModel)]="forecast.forecast" *ngIf="i !== 0">
                <span>{{forecast.forecast}}</span>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<h1>Handson Table Implementation</h1>
<hot-table #hot class="hot" [settings]="hotSettings">
</hot-table>

<hr>