<h1>Custom Implementation</h1>
<table id="example" class="display excel">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>A</th>
            <th>B</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecastData;let i = index">
            <td class="row-number">
                <span>
                    {{ i+1 }}
                </span>
            </td>
            <td style="width: 100px;">{{ forecast.bucket }}</td>
            <td style="width: 100px;">
                <input type="text" (paste)="onPaste($event, i)" [(ngModel)]="forecast.forecast">
            </td>
        </tr>
    </tbody>
</table>

<hr>

<h1>Handson Table Implementation</h1>
<hot-table #hot class="hot" [settings]="hotSettings">
</hot-table>

<hr>

<h1>Jexcel</h1>
<div #spreadsheet></div>

<hr>

<h1>ej2 Syncfusion Spread sheet</h1>

<ejs-spreadsheet #spreadsheetSync
  (beforeCellSave)="beforeCellSave($event)"
   [showSheetTabs]="false" [showRibbon]="false">
    <e-sheets>
      <e-sheet >
        <e-ranges>
          <e-range [dataSource]="forecastData"></e-range>
        </e-ranges>
        <e-columns>
          <e-column value="bucket" [width]=120></e-column>
          <e-column value="forecast" [width]=180></e-column>
        </e-columns>
      </e-sheet>
    </e-sheets>
  </ejs-spreadsheet>

<hr>
{{forecastData | json}}
