<h1 class="ml-3 mt-5">ej2 Syncfusion Spread sheet</h1>

<button class="btn btn-lg btn-outline-primary ml-5" (click)="openSyncfusionTable(syncfusionContent)">Upload</button>
<ng-template #syncfusionContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Forecast Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ejs-spreadsheet #spreadsheetSync (beforeCellSave)="beforeCellSave($event)"
      (actionComplete)="actionComplete($event)" (paste)="getData($event)" (created)="created()"
      (cellEdit)="cellEdit($event)"
      [showSheetTabs]="true" [showRibbon]="true" [enableClipboard]="true" [enableKeyboardShortcut]="true">
      <e-sheets>
        <e-sheet>
          <e-ranges>
            <e-range [dataSource]="syncfusionData"></e-range>
          </e-ranges>
          <e-columns>
            <e-column value="PLANBUCKET" [width]=120></e-column>
            <e-column value="FORECAST" [width]=180></e-column>
          </e-columns>
        </e-sheet>
      </e-sheets>
    </ejs-spreadsheet>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  <hr>
  {{syncfusionData | json}}