<router-outlet></router-outlet>
<!-- 
  <table id="customers">
  <tr>
    <th>Key Figure</th>
    <th *ngFor="let head of tableHeader">{{head.header}}</th>
  </tr>
  <tr *ngFor="let data of keys">
    <td>{{data.key | titlecase}}</td>
    <td *ngFor="let header of tableHeader">
      <div>
        {{data['value' + header.header]}}
      </div>
    </td>
  </tr>
</table> 
-->

<table id="customers">
    <thead>
        <tr>
            <th *ngFor="let header of headers; let columnIndex = index" [ngClass]="{'text-left w-auto': columnIndex === 0}">
                {{header}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of planRowsConfig; let rowIndex = index;">
            <td *ngFor="let header of headers;let columnIndex= index" [ngClass]="{'w-auto': columnIndex === 0}"
                (click)="makeEditable(row, rowIndex, columnIndex)">
                <ng-container *ngIf="columnIndex==0;else elseBlock">
                    <p [ngClass]="{'text-bold': row.isBold, 'child-td': row.isChild}">
                        {{row.text}}
                    </p>
                </ng-container>
                <ng-template #elseBlock>
                    <ng-container *ngIf="!row.isChild">
                        <p class="text-right" *ngIf="!editableCell[rowIndex + '_'+ columnIndex]">
                            {{ (!row.noValue) ? tableDetails[columnIndex-1][row.key] : '' }}
                        </p>
                        <input class="text-right" type="text" [value]="tableDetails[columnIndex-1][row.key]"
                            *ngIf="editableCell[rowIndex + '_'+ columnIndex]">
                    </ng-container>
                    <ng-container *ngIf="row.isChild">
                        <p class="text-right" *ngIf="!editableCell[rowIndex + '_'+ columnIndex]">
                            {{ tableDetails[columnIndex-1][row.parent][row.key] }}
                        </p>
                        <input class="text-right" type="text" [value]="tableDetails[columnIndex-1][row.parent][row.key]"
                            *ngIf="editableCell[rowIndex + '_'+ columnIndex]">
                    </ng-container>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>