#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #323232;
  padding: 4px 10px;
  font-size: 14px;
  color: #323232;
  width: 100px;
}

#customers th {
  text-align: center;
}

.text-bold {
  font-weight: bold !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

#customers td .child-td {
  padding-left: 20px;
}

#customers p {
  margin: 0;
}

.w-auto{
  width: auto !important;
}