<h1>Handson Gantt Chart</h1>
<div id="example2">
    <div id="example2-source">
    </div>
</div>
<br>
<hr>

<h1>Syncfusion Chart</h1>
<ejs-gantt id="GanttSample" 
  [dataSource]="data" 
  height= "450px"
  width="800px"
  [taskFields]= "taskfield">
</ejs-gantt>
<br>
<hr>

<h1>Angular Google Charts</h1>
<google-chart #chart
   [title]="title"
   [type]="type"
   [columns]="columnNames"
   [options]="options"
   [width]="width"
   [data]="googleChartData"
   [height]="height">
</google-chart>
<hr>

<h1>Chart.js</h1>
<canvas id="myChart" width="700" height="700"></canvas>
<hr>

<h1>DHTMLX Gantt Chart</h1>
<div #gantt_here class="gantt-chart"></div>
